@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	overflow: hidden;
	gap: 2em;
	height: 100%;
}

.message {
	width: 100%;
	position: relative;
}

.message__inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	font-family: 'Inter', sans-serif;
	position: relative;
}

.message__username {
	padding: 0 0.3em;
	height: 1.9em;
	border-radius: 0.2em;
	display: inline-flex;
	align-items: center;
	font-weight: 700;
	background-color: white;
	width: fit-content;
	border: 0.1em solid black;
	gap: 0.2em;
}

.message__username--badges {
	display: inline-flex;
	align-items: center;
	gap: 0.15em;
}

.message__username--badges img {
	width: 1.1em;
	height: 1.1em;
	display: block;
	flex-shrink: 0;
}

.message__content {
	line-height: 1.3;
	padding: 0.3em 0.5em 0.2em 0.5em;
	border-radius: 0.2em;
	vertical-align: top;
	overflow-wrap: break-word;
	background: white;
	width: fit-content;
	border: 0.1em solid black;
	display: inline;
}

.message__content img {
	width: 1.25em;
	display: inline-flex;
}
